<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>器材巡检</title><meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/sport/basic.css">
    <style>
        fieldset {
            margin:0 auto;
            padding:20px;
        }
        input {
            width:100%;
            height:40px;
            line-height:40px;
            border:none;
            border:1px solid #cccccc;
            border-radius:4px;
            padding-left:10px;
            margin:5px 0;
        }
        meter {
            width:100%;
            height:40px;
            line-height:40px;
            border:none;
            border:1px solid #cccccc;
            border-radius:4px;
            margin:5px 0;
        }

        html{
            /* background: #f5f5f5; */
            background: #fff;
        }
    </style>
</head>
<body>


    <fieldset>
        <legend>工程概况</legend>
        <details>
            <summary>工程基本信息</summary>
        <input type="hidden" id="deptId" value="${deptId}">
        <input type="hidden" id="idPicUrls" value="${idPicUrls}">
        <input type="hidden" name="prjtype" id="prjtype" value="${prjBase.prjtype}">
        <input type="hidden" name="prjId" id="prjId" value="${prjBase.id}">
        <label for="local">地区:</label>
        <input type="tel" id="local" name="local" placeholder="" readonly="readonly" value="${prjBase.local}">
        <label for="prjname">工程名称:</label>
        <input type="text" name="prjname" id="prjname" placeholder="" value="${prjBase.prjname}">
        <label for="place">建设地点:</label>
        <input type="email" id="place" name="place" placeholder="" value="${prjBase.place}">
        <label for="area">占地面积(平方米):</label>
        <input type="text" id="area" name="area" placeholder="" value="${prjBase.area}">
        <label for="begintime">开工时间:</label>
        <input type="date" style="width: 100%;" id="begintime" name="begintime" value="${prjBase.begintime}"><br>
        <label for="endtime">完工时间:</label>
        <input type="date" id="endtime" name="endtime" value="${prjBase.endtime}"><br>
        <label for="provider">供应商:</label>
        <input type="text" id="provider" name="provider" placeholder="" value="${prjBase.provider}">
        <label for="jsfa">建设方案:</label>
        <input type="text" id="jsfa" name="jsfa" placeholder="" value="${prjBase.jsfa}">
        <label for="dljd">地理经度:</label>
        <input type="text" id="dljd" name="dljd" readonly="readonly" placeholder="" value="${prjBase.dljd}">
        <label for="dlwd">地理纬度:</label>
        <input type="text" id="dlwd" name="dlwd" readonly="readonly" placeholder="" value="${prjBase.dlwd}">
        <input type="button" value="保存" style="width: 20%;" onclick="savePrj()">
        <input id="delBtn" type="button" value="删除" style="width: 20%;" onclick="logicDelete()">
        <input id="seeCdBtn" type="button" value="查看场地类" style="width: 30%;" onclick="showCd()">
        <input id="seeJsljBtn" type="button" value="查看健身路径类" style="width: 40%;" onclick="showJslj()">
        <input id="seeQtBtn" type="button" value="查看其他类" style="width: 30%;" onclick="showQt()">
        <input type="button" value="返回" style="width: 20%;" onclick="back()">
        </details>

        <details>
            <summary>图片信息</summary>
            <label for="fileInpBtn">上传全景照片:</label><br>
            <input style="width: 60%;" id="fileInpBtn" type="file" accept="image/jpeg"  multiple>
            <input type="button" value="上传" style="width: 20%;" onclick="uploadPic()"><br>
            <main class="product_list_page_met_16_3 met-product animsition type-1" m-id="37">
                <div class="container">
                    <div class="row clearfix right">
                        <div class="col-md-9 met-news-body">
                            <div class="row">
                                <ul class=" blocks-xs-2 blocks-md-2 blocks-lg-4 blocks-xxl-4  met-pager-ajax imagesize met-product-list met-grid" id="met-grid" data-scale="300x400" style="position: relative; height: 508.266px;">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </details>


    </fieldset>


<script src="${ctxPath}/static/js/jquery.min.js"></script>
<script src="${ctxPath}/static/modular/sport/prjbase.js"></script>
<script src="${ctxPath}/static/js/imgLook.js"></script>

</body>
</html>
