@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="deptInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6">
                    <#input id="simplename" name="部门名称" underline="false"/>
                </div>
                <div class="col-sm-6">
                    <#input id="fullname" name="部门全称" underline="false"/>
                </div>
                <div class="col-sm-6">
                    <input type="hidden" id="num" name="排序" underline="true" />
                    <#input id="pName" name="上级部门" readonly="readonly" hidden="pid"
                    hiddenValue="${pid}" value="${pName}"/>

                </div>
                <div class="col-sm-6">
                    <span class="btn btn-primary btn-file" style="float:left;font-size:12px">
                        <span class="fileinput-new">选择文件</span>
                        <input type="file" id="tips1" name="file" onchange="UploadImageicc(this);" accept="image/gif,image/jpeg,image/x-png" >
                        <input type="hidden" id="tips">
                    </span>
                    <div class="fileinput-new thumbnail" style="width:120px;height:85px;position:absolute;left:40%">
                        <img id="showTips">
                    </div>
                </div>

            </div>
            <div style="margin-left: 13%;">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DeptInfoDlg.addSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DeptInfoDlg.close()"/>
            </div>

        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/sport/sdeptinfo.js"></script>
@}
