@layout("/common/_container.html"){

<div class="">
  <div class="">
	  <div class="ibox-title">
		  <div style="border-bottom: 1px solid #cccccc94;height: 45px"><span style="color: #333333;font-family: 'Microsoft YaHei';font-size: 20px;">解押已受理</span></div>
	  </div>
   	<div class="tab-content">
		<input type="hidden" value="${applyId}" id="applyId">
		<input type="hidden" value="${interfaceAddress}" id="interfaceAddress">
		<input type="hidden" value="${idPicUrls}" id="idPicUrls">
		<!--身份认证-->
   		<div class="tab-pane fade in active"  id="div_sfrz">
			<div class="menu-item" id="menu-item5">
				<div class="form-horizontal" style="background-color:#FFF;padding: 25px;box-shadow: 1px 5px 1px 1px #bbbbbb6b;">
					<!--<h5>基本信息</h5>-->
					<div ><span style="color: #333333;font-family: 'Microsoft YaHei';font-size: 15px;">基本信息</span></div>
					<div class="row" style="margin-top:30px">
						<div class="col-sm-5">
							<#input id="custName" name="姓名" underline="false" value="${name}" readonly="readonly"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<#input id="sex" name="性别" underline="false" value="${sex}" readonly="readonly"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<#input id="custIdNo" name="身份证号码" underline="false" value="${idno}" readonly="readonly"/>
						</div>
					</div>
					<!--<h5 style="margin-top:35px">上传结清证明图片</h5>-->
					<div style="margin-top:30px"><span style="color: #333333;font-family: 'Microsoft YaHei';font-size: 15px;">上传结清证明图片</span></div>
					<div class="row" style="margin-top:30px">
						<div class="col-sm-9">
							<input type="hidden" id="detentionId">
							<div class="form-group">
								<label class="col-sm-3 control-label">结清证明照片</label>
								<#button name="下载" id="settleAttachUrl" icon="fa-download" clickFun="downLoadSupplementaryMaterial(id);"/>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">委托书(客户签字授权)照片</label>
								<#button name="下载" id="proxyBookUrl" icon="fa-download" clickFun="downLoadSupplementaryMaterial(id);"/>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">身份证复印件(带有客户签名和手机号码)照片</label>
								<#button name="下载" id="certPhotoUrl" icon="fa-download" clickFun="downLoadSupplementaryMaterial(id);"/>
							</div>
						</div>
					</div>
					<!--<h5 style="margin-top:35px">上传小票</h5>-->
					<div style="margin-top:30px"><span style="color: #333333;font-family: 'Microsoft YaHei';font-size: 15px;">上传小票</span></div>
					<div class="row" style="margin-top:30px">
						<div class="col-sm-9" >
							<label class="col-sm-3 control-label">解押受理小票照片</label>
				            <div  class="container">
				           		<div class="form-grop"  enctype="multipart/form-data">
				           			<div style="width:7%;float:left">
				           				<span class="btn btn-primary btn-file" style="float:left;font-size:12px">
				           					<span class="fileinput-new">选择文件</span>
				           					<input type="file" id="billAttachUrl1" name="file" onchange="UploadImageicc(this);" accept="image/gif,image/jpeg,image/x-png" >
				           					<input type="hidden" id="billAttachUrl">
				           				</span>
				           				<div class="fileinput-new thumbnail" style="width:120px;height:85px;position:absolute;left:37%">
				           					<img id="billAttachUrlmImg" style="width:100%;height:75px;background-color: #cccccc47" src="" alt="">
				           				</div>
				           			</div>
				           		</div>
				           </div>  

						</div>
					</div>
					<div class="row">
						<!--<div class="col-sm-6">
							<#select id="checkResult" name="审核结果" underline="false">
								<option value="">-&#45;&#45;请选择-&#45;&#45;</option>
								<option value="0">通过</option>
								<option value="1">拒绝</option>
								<option value="2">驳回</option>
							</#select>
						    <#input id="checkResultDesc" name="审核结果描述" underline="false"/>
					    </div>-->


					</div>
					<div class="row">
						<div style="width: 420px; margin: 140px 1px 50px 150px">
							<#button name="返回" icon="fa fa-chevron-left" clickFun="backToDoWork();"/>
							<#button name="保存小票照片" icon="fa fa-save" clickFun="saveBillAttachUrl();"/>
							<#button name="解押受理确认提交" icon="fa fa-check" clickFun="todoSubmit();"/>

						</div>
					</div>
				</div>
			</div>

   		</div>


   	</div>
  </div>
</div>

<script src="${ctxPath}/static/modular/cust/detentionCarApply.js"></script>
<script src="${ctxPath}/static/modular/cust/jysqupload.js"></script>
@}
