@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>办理中的借款</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="custName" name="用户名" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="contractNo" name="合同编号"/>
                            </div>
                            
                            <div class="col-sm-6">
                                <#button name="搜索" icon="fa-search" clickFun="repaymentList.search()"/>
                                <#button name="重置" icon="fa-undo" clickFun="repaymentList.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <#table id="repaymentListTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/repayment/hrepaymentList.js"></script>
@}
