@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>器材列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="hidden" id="deptId" value="${deptId}">
                                        <input type="hidden" id="deptPid" value="${deptPid}">
                                        <input type="hidden" id="idPicUrls" value="${idPicUrls}">
                                        <#NameCon id="jssb" name="健身设备" placeholder="设备名称"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <#button name="搜索" icon="fa-search" clickFun="MgrQc.search()"/>
                                        <#button name="重置" icon="fa-undo" clickFun="MgrQc.resetSearch()" space="true"/>
                                    </div>
                                </div>
                                <div class="hidden-xs" id="managerTableToolbar">
                                    <#button name="添加器材" icon="fa-plus" clickFun="MgrQc.openAddQc()"/>
                                    <#button name="编辑器材" icon="fa-edit" clickFun="MgrQc.openQcEdit()" space="true"/>
                                    <#button name="删除器材" icon="fa-trash" clickFun="MgrQc.delMgrQc()" space="true"/>
                                    <#button name="确认已巡检" icon="fa-check" clickFun="MgrQc.confirmXj()" space="true"/>
                                    <#button name="全景图片管理" icon="fa-edit" clickFun="MgrQc.seeQjPic()" space="true"/>
                                    <#button name="返回" icon="fa-chevron-left" clickFun="MgrQc.back()" space="true"/>
                                </div>
                                <#table id="managerTable"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/sporthoutai/allqc.js"></script>
@}
