@layout("/common/_container.html"){
<!--<link rel="stylesheet" href="${ctxPath}/static/picview/css/bootstrap-grid.min.css">-->
<link rel="stylesheet" href="${ctxPath}/static/picview/dist/zoomify.min.css">
<link rel="stylesheet" href="${ctxPath}/static/picview/css/style.css">

<div class="ibox-content">
	<div class="form-horizontal">
		<div class="row">
			<row>
				<input type="hidden" value="${deptId}" id="deptId">
				<input type="hidden" value="${idPicUrls}" id="idPicUrls">
				<div class="fileinput-new thumbnail" style="width:120px;height:85px;position:absolute;">
					<img id="showImg" style="width:100%;height:75px;background-color: #cccccc47" src="" alt="">
				</div>
				<span class="btn btn-primary btn-file" style="float:left;font-size:12px;margin-left:17%;height: 35px;">
					<span class="fileinput-new">选择文件</span>
					<input type="file" id="fileInpBtn" name="file" onchange="UploadImageicc();" accept="image/gif,image/jpeg,image/x-png" >
					<input type="hidden" id="courtPersonalPhoto">
				</span>&nbsp;
				<#button name="上传" icon="fa fa-save" underline="true" clickFun="uploadPic();"/>
				<#button name="删除图片" icon="fa fa-save" underline="true" clickFun="delAttach();"/>
				<#button name="返回" icon="fa-chevron-left" clickFun="backQcList()" space="true"/>


				<!--<label for="fileInpBtn">上传器材照片:</label><br>-->
				<!--<input style="width: 60%;" id="fileInpBtn" type="file" accept="image/jpeg"  multiple>-->
				<!--<input type="button" value="上传" style="width: 20%;" onclick="uploadPic()">-->
				<!--<input type="button" value="删除图片" style="width: 30%;" onclick="delAttach()"><br>-->
			</row>
		</div>
		<hr style="margin-top: 10%;">
		<!--显示图片-->
		<div class="container">
			<div class="examples">
				<div class="row" id="picContent">
					<!--<div class="example col-xs-4 col-md-3" >-->
					<!--<input type="checkbox">-->
					<!--<img src="${ctxPath}/static/picview/img/4.jpg" class="img-rounded" alt="">-->
					<!--</div>-->
					<!--<div class="example col-xs-4 col-md-3">-->
					<!--<input type="checkbox">-->
					<!--<img src="${ctxPath}/static/picview/img/5.jpg" class="img-rounded" alt="">-->
					<!--</div>-->
					<!--<div class="example col-xs-4 col-md-3">-->
					<!--<input type="checkbox">-->
					<!--<img src="${ctxPath}/static/picview/img/6.jpg" class="img-rounded" alt="">-->
					<!--</div>-->
				</div>
			</div>
		</div>

	</div>
</div>



<script src="${ctxPath}/static/js/jquery.min.js"></script>
<script src="${ctxPath}/static/picview/dist/zoomify.min.js"></script>
<script src="${ctxPath}/static/modular/sporthoutai/qjpic.js"></script>
<script type="text/javascript">
    $(document).delegate("img","click",function () {
        $('.example img').zoomify();
    });

</script>
<!--<script src="${ctxPath}/static/modular/sporthoutai/addqc.js"></script>-->
@}
