<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moerlong.carloan.modular.sport.dao.SQjpicMapper" >
  <resultMap id="BaseResultMap" type="com.moerlong.carloan.modular.sport.entity.SQjpic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deptid" property="deptid" jdbcType="INTEGER" />
    <result column="picurl" property="picurl" jdbcType="VARCHAR" />
    <result column="diccurl" property="diccurl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deptid, picurl, diccurl, remark, isdelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_qjpic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_qjpic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moerlong.carloan.modular.sport.entity.SQjpic" >
    insert into s_qjpic (id, deptid, picurl, 
      diccurl, remark, isdelete,createtime,updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{deptid,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, 
      #{diccurl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER},#{createtime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.moerlong.carloan.modular.sport.entity.SQjpic" >
    insert into s_qjpic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="picurl != null" >
        picurl,
      </if>
      <if test="diccurl != null" >
        diccurl,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="createtime !=null">
        createtime,
      </if>
      <if test="updatetime !=null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="diccurl != null" >
        #{diccurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime !=null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime !=null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moerlong.carloan.modular.sport.entity.SQjpic" >
    update s_qjpic
    <set >
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="picurl != null" >
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="diccurl != null" >
        diccurl = #{diccurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime !=null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime !=null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moerlong.carloan.modular.sport.entity.SQjpic" >
    update s_qjpic
    set deptid = #{deptid,jdbcType=INTEGER},
      picurl = #{picurl,jdbcType=VARCHAR},
      diccurl = #{diccurl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询所有 -->
  <select id="listAll" parameterType="java.util.Map" resultType="com.moerlong.carloan.modular.sport.entity.SQjpic">
    select
    <include refid="Base_Column_List" />
    from s_qjpic
    where deptid=#{deptid}
  </select>
  <!-- 查询（分页查询） -->
  <select id="selectPage" parameterType="java.util.Map" resultType="com.moerlong.carloan.modular.sport.entity.SQjpic">
    select
    <include refid="Base_Column_List" />
    from s_qjpic
    order by createtime desc
  </select>

  <!--根据id 一次删除多个-->
  <delete id="deleteByIds" parameterType="java.lang.Integer">
    delete from s_qjpic
    where id in
    <foreach collection="list" index="index" open="(" item="id" separator="," close=")">
      #{id}
    </foreach>

  </delete>
</mapper>